@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.v-checkbox .v-selection-control {
    min-height: unset !important;
}
.v-field.v-field--focused,
.v-field.v-field--focused .v-field__outline
{
    box-shadow: none !important;
    border: none !important;
    border-color: #ffffff00 !important;
    --v-field-border-opacity: 0 !important;
    --v-field-border-width: 0 !important;
}
.v-text-field--outlined .v-label,
.v-field.v-field--focused .v-label
{
    background-color: var(--v-theme-background) !important;
}
.v-text-field--outlined .theme--light.v-label,
.v-field.v-field--focused .theme--light.v-label
{
    background-color: #fff !important;
}
.v-text-field--outlined .theme--dark.v-label,
.v-field.v-field--focused .theme--dark.v-label
{
    background-color: #424242 !important;
}
