@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen .v-overlay__content {
  width: 100%;
  height: 100%;
}
.p-absolute {
  position: absolute;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bigger-input input,
.bigger-input label {
  font-size: 1rem !important;
}

.overlay-top {
  z-index: 10;
}
thead.v-data-table-header tr th {
  font-size: 1rem !important;
}
.v-data-table tbody tr td {
  font-size: 1rem !important;
}
.v-data-footer {
  font-size: 1rem !important;
}

[x-cloak] {
  display: none;
}
.v-checkbox .v-selection-control {
  min-height: unset !important;
}
.v-field.v-field--focused,
.v-field.v-field--focused .v-field__outline {
  box-shadow: none !important;
  border: none !important;
  border-color: #ffffff00 !important;
  --v-field-border-opacity: 0 !important;
  --v-field-border-width: 0 !important;
}
.v-text-field--outlined .v-label,
.v-field.v-field--focused .v-label {
  background-color: var(--v-theme-background) !important;
}
.v-text-field--outlined .theme--light.v-label,
.v-field.v-field--focused .theme--light.v-label {
  background-color: #fff !important;
}
.v-text-field--outlined .theme--dark.v-label,
.v-field.v-field--focused .theme--dark.v-label {
  background-color: #424242 !important;
}
